<!DOCTYPE html>
<html>
<head>
    <title>kids dress code</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/edit_profile.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/explore.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    
    <div class="sidenav">
        <a href="#"><i class="fas fa-user"></i> Profile</a>
        <a href="#"><i class="fas fa-envelope"></i> Chats</a>
        <a href="#"><i class="fas fa-search"></i> Find Dress Code</a>
        <a href="#"><i class="far fa-heart"></i> Saved</a>
        <a href="#"><i class="fas fa-bell"></i> Notifications</a>
        <a href="#"><i class="fas fa-cog"></i> Settings</a>
        <a href="#"><i class="fas fa-question-circle"></i> FAQ</a>
        <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
    
    <div class="section">
        <div class="section-buttons">
            <a href="#">Button 1</a>
            <a href="#">Button 2</a>
            <a href="#">Button 3</a>
        </div>
    </div>

    <div class="image-gallery" id="gallery-container"></div>
      
    <script>
        const filenames = [
            'photo_5841259259361345417_y.jpg',
            'photo_5841259259361345421_y.jpg',
            'photo_5841259259361345423_y.jpg',
            'photo_5841259259361345424_x.jpg',
            'photo_5841259259361345425_y.jpg',
            'photo_5841259259361345426_y.jpg',
            'photo_5841259259361345430_y.jpg',
            'photo_5841259259361345432_x.jpg',
            'photo_5841259259361345433_y.jpg',
            'photo_5841259259361345434_y.jpg',
            'photo_5841259259361345435_x.jpg',
            'photo_5841259259361345436_y.jpg',
            'photo_5841259259361345440_y.jpg',
            'photo_5841259259361345441_x.jpg',
            'photo_5841259259361345446_y.jpg',
            'photo_5841259259361345447_y.jpg',
            'photo_5841259259361345425_y.jpg',
            'photo_5841259259361345426_y.jpg',
            'photo_5841259259361345430_y.jpg',
            'photo_5841259259361345432_x.jpg',
            'photo_5841259259361345433_y.jpg',
            'photo_5841259259361345434_y.jpg',
            'photo_5841259259361345435_x.jpg',
            'photo_5841259259361345436_y.jpg',
            'photo_5841259259361345440_y.jpg',
            'photo_5841259259361345441_x.jpg',
             'photo_5841259259361345448_y.jpg'
        ];

        const galleryContainer = document.getElementById('gallery-container');

        filenames.forEach(filename => {
            const img = document.createElement('img');
            img.src = `../static/images/official_samples/${filename}`;
            img.alt = filename;
            galleryContainer.appendChild(img);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
