<!DOCTYPE html>
<html>
<head>
    <title>Explore</title>
</head>
<body>
    <h1>Explore</h1>

    <form>
        <input type="text" name="q" placeholder="Search">
        <a href="/search?q={{ query }}"><button type="button">Search</button></a>
    </form>

    {% if results %}
        <h2>Search Results for "{{ query }}"</h2>
        <ul>
            {% for result in results %}
                <li>
                    <img src="{{ result.link }}" alt="{{ result.title }}">
                    <p>{{ result.title }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No search results found.</p>
    {% endif %}
</body>
</html>
